@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import 'tailwindcss';

@theme {
    --color-primary-50: #f0f8e8;
    --color-primary-100: #d9edc2;
    --color-primary-200: #bfe098;
    --color-primary-300: #a4d36c;
    --color-primary-400: #8bc64a;
    --color-primary-500: #67a22d;
    --color-primary-600: #5a8e26;
    --color-primary-700: #4c791f;
    --color-primary-800: #3f6419;
    --color-primary-900: #334f14;
    --color-primary: #67a22d;

    --color-text: #141c0d;
    --color-text-placeholder: #758269;

    --color-secondary: #edf2e8;

    --color-border: #e5e8eb;

    --color-error-50: #fef2f2;
    --color-error-100: #fee2e2;
    --color-error-200: #fecaca;
    --color-error-300: #fca5a5;
    --color-error-400: #f87171;
    --color-error-500: #ef4444;
    --color-error-600: #dc2626;
    --color-error-700: #b91c1c;
    --color-error-800: #991b1b;
    --color-error-900: #7f1d1d;
    --color-error: #dc2626;

    --color-warning-50: #fffbeb;
    --color-warning-100: #fef3c7;
    --color-warning-200: #fde68a;
    --color-warning-300: #fcd34d;
    --color-warning-400: #fbbf24;
    --color-warning-500: #f59e0b;
    --color-warning-600: #d97706;
    --color-warning-700: #b45309;
    --color-warning-800: #92400e;
    --color-warning-900: #78350f;
    --color-warning: #d97706;

    --color-success-50: #ecfdf5;
    --color-success-100: #d1fae5;
    --color-success-200: #a7f3d0;
    --color-success-300: #6ee7b7;
    --color-success-400: #34d399;
    --color-success-500: #10b981;
    --color-success-600: #059669;
    --color-success-700: #047857;
    --color-success-800: #065f46;
    --color-success-900: #064e3b;
    --color-success: #059669;
}

body {
    font-family: 'Newsreader', serif;
}
